<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDBI Mini Bank Statement Analysis</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Analytics.css')}}" />
    <link rel="stylesheet" href="../Static/Style.css">
    <link rel="stylesheet" href="../Static/Analytics.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script>
</head>

<body>
    <header>
        <h2>IDBI Mini Bank Statement Analysis</h2>
        <nav>
            <a href="/about">About</a>
        </nav>
    </header>

    <div class="ReportContainer">
        <h3 style="text-align: center;">Your IP Address :{{ip_address}}</h3>
        <div class="initialDetails">
            <h4>Analyzed File Name: <span class="color_darkblue"> {{file_name}}</span></h4>
            <h4>First Date in Statement: <span class="color_darkblue"> {{first_date}}</span></h4>
            <h4>Number of Records in Statement: <span class="color_darkblue"> {{number_of_records}}</span></h4>
            <h4>Last Date in Statement: <span class="color_darkblue"> {{last_date}}</span></h4>
            <h4 style="grid-column: span 2;text-align: center;">Total Difference Between Debit and Credit: 
                <span class="color_darkblue"> {{balance_difference|round(2)}}</span>
                {%if balance_difference<=0%} 
                    <span class="color_red">We are in Loss</span>
                {%else%}
                    <span class="color_green">We are in Loss</span>
                {%endif%}
            </h4>
        </div>
        <section >
            <h1>Search Transaction Here</h1>
            <div >

                <input type="text" name="search" id="search" placeholder="Enter Any Keyword">
                <button type="submit">Search</button>
            </div>
            
        </section>
        <div id="outputTransactions">
            <table border="1">
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Payment Mode</th>
                        <th>Recipient Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Cumulative Account Balance Graph</h3>
        <div class="cumulative_graph_container">
            <canvas id="cumulative_balance_graph"></canvas>
        </div>
        <h2>Debit Details</h2>
        <div class="debitDetails">
            <div class="debitStats">
                <h4>Payment Types and Count For Debit with last 2 transactions</h4>
                <div class="initials">
                    <h4>Total Number of Debits : <span class="color_darkblue">{{debit_table|length}} </span></h4>
                    <h4>Total Amount of Debits : <span class="color_darkblue">{{debit_table['Amount'].sum()}} </span></h4>
                </div>
                <div class="paymentTypes">

                    {%for index in debit_type.index%}
                    <div class="data">

                        <h5 class="payment">
                            <span>
                                {{index}}: <span class="color_darkblue"> {{debit_type[index]}}</span>
                            </span>
                            <span>
                                Total Spend Amount: <span class="color_darkblue"> {{debit_table[debit_table['Payment_Mode']==index]['Amount'].sum()|round(2)}}</span>
                            </span>
                        </h5>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Recipient Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for row_index in debit_table[debit_table['Payment_Mode']==index].head(2).index%}
                                <tr>
                                    <td>{{debit_table['Date'][row_index].date()}}</td>
                                    <td>{{debit_table['Amount'][row_index]}}</td>
                                    <td>{{debit_table['Payment_Mode'][row_index]}}</td>
                                    <td>{{debit_table['Recipient_Name'][row_index]}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {%endfor%}
                </div>

                <h4>Top 20 Recipient of Payment with last 2 transactions</h4>
                <div class="paymentTypes">
                    {%for index in debit_receiver.head(20).index%}
                    <div class="data">

                        <h5 class="recipient">
                            <span>
                                {{index}}: <span class="color_darkblue"> {{debit_receiver[index]}}</span>
                            </span>
                            <span>
                                Total Spend Amount: <span class="color_darkblue"> {{debit_table[debit_table['Recipient_Name']==index]['Amount'].sum()|round(2)}}</span>
                            </span>                        </h5>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Recipient Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for row_index in debit_table[debit_table['Recipient_Name']==index].head(2).index%}
                                <tr>
                                    <td>{{debit_table['Date'][row_index].date()}}</td>
                                    <td>{{debit_table['Amount'][row_index]}}</td>
                                    <td>{{debit_table['Payment_Mode'][row_index]}}</td>
                                    <td>{{debit_table['Recipient_Name'][row_index]}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="tableScroll">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                            <th>Payment Mode</th>
                            <th>Recipient Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row_index in range(debit_table|length)%}
                        <tr>
                            <td>{{debit_table['Date'][row_index].date()}}</td>
                            <td>{{debit_table['Amount'][row_index]}}</td>
                            <td>{{debit_table['Payment_Mode'][row_index]}}</td>
                            <td>{{debit_table['Recipient_Name'][row_index]}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <h2>Credit Details</h2>
        <div class="debitDetails">
            <div class="crebitStats">
                <h4>Payment Types and Count For Credit wth last 2 transactions</h4>
                <div class="initials">
                    <h4>Total Number of Credits : <span class="color_darkblue">{{credit_table|length}} </span></h4>
                    <h4>Total Amount of Credits : <span class="color_darkblue">{{credit_table['Amount'].sum()}} </span></h4>
                </div>
                <div class="paymentTypes">
                    {%for index in credit_type.index%}

                    <div class="data">

                        <h5 class="payment">
                            <span>
                                {{index}}: <span class="color_darkblue"> {{credit_type[index]}}</span>
                            </span>
                            <span>
                                Total Received Amount: <span class="color_darkblue"> {{credit_table[credit_table['Payment_Mode']==index]['Amount'].sum()|round(2)}}</span>
                            </span>
                        </h5>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Recipient Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for row_index in credit_table[credit_table['Payment_Mode']==index].head(2).index%}
                                <tr>
                                    <td>{{credit_table['Date'][row_index].date()}}</td>
                                    <td>{{credit_table['Amount'][row_index]}}</td>
                                    <td>{{credit_table['Payment_Mode'][row_index]}}</td>
                                    <td>{{credit_table['Recipient_Name'][row_index]}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {%endfor%}
                </div>
                <h4>Top 20 Clients Payment with last 2 transactions</h4>
                <div class="paymentTypes">
                    {%for index in credit_sender.head(20).index%}
                    <div class="data">

                        <h5 class="recipient">
                            <span>
                                {{index}}: <span class="color_darkblue"> {{credit_sender[index]}}</span>
                            </span>
                            <span>
                                Total Received Amount: <span class="color_darkblue"> {{credit_table[credit_table['Recipient_Name']==index]['Amount'].sum()|round(2)}}</span>
                            </span>
                        </h5>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Recipient Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for row_index in credit_table[credit_table['Recipient_Name']==index].head(2).index%}
                                <tr>
                                    <td>{{credit_table['Date'][row_index].date()}}</td>
                                    <td>{{credit_table['Amount'][row_index]}}</td>
                                    <td>{{credit_table['Payment_Mode'][row_index]}}</td>
                                    <td>{{credit_table['Recipient_Name'][row_index]}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="tableScroll">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                            <th>Payment Mode</th>
                            <th>Recipient Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for row_index in range(credit_table|length)%}
                        <tr>
                            <td>{{credit_table['Date'][row_index].date()}}</td>
                            <td>{{credit_table['Amount'][row_index]}}</td>
                            <td>{{credit_table['Payment_Mode'][row_index]}}</td>
                            <td>{{credit_table['Recipient_Name'][row_index]}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        All rights are reserved || TechForEverybody
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let cumulative_balance_graph = document.getElementById("cumulative_balance_graph");
    let chart = new Chart(cumulative_balance_graph, {
        type: "line",
        data: {
            labels: ['2021-03-24',
                '2021-03-25',
                '2021-03-25',
                '2021-03-25',
                '2021-03-26',
                '2021-03-26',
                '2021-03-28',
                '2021-03-31',
                '2021-04-08',
                '2021-04-09',
                '2021-04-09',
                '2021-04-12',
                '2021-04-12',
                '2021-04-13',
                '2021-04-15',
                '2021-04-15',
                '2021-04-15',
                '2021-04-16',
                '2021-04-16',
                '2021-04-16',
                '2021-04-16',
                '2021-04-17',
                '2021-04-17',
                '2021-04-19',
                '2021-04-20',
                '2021-04-20',
                '2021-04-20',
                '2021-04-23',
                '2021-04-28',
                '2021-04-28',
                '2021-04-28',
                '2021-04-30',
                '2021-04-30',
                '2021-04-30',
                '2021-05-01',
                '2021-05-01',
                '2021-05-01',
                '2021-05-04',
                '2021-05-04',
                '2021-05-06',
                '2021-05-07',
                '2021-05-07',
                '2021-05-07',
                '2021-05-10',
                '2021-05-11',
                '2021-05-11',
                '2021-05-12',
                '2021-05-12',
                '2021-05-15',
                '2021-05-15',
                '2021-05-15',
                '2021-05-19',
                '2021-05-21',
                '2021-05-24',
                '2021-05-25',
                '2021-05-26',
                '2021-05-26',
                '2021-05-27',
                '2021-05-28',
                '2021-05-29',
                '2021-05-31',
                '2021-05-31',
                '2021-06-01',
                '2021-06-02',
                '2021-06-02',
                '2021-06-02',
                '2021-06-02',
                '2021-06-02',
                '2021-06-03',
                '2021-06-04',
                '2021-06-04',
                '2021-06-04',
                '2021-06-07',
                '2021-06-08',
                '2021-06-09',
                '2021-06-10',
                '2021-06-11',
                '2021-06-11',
                '2021-06-11',
                '2021-06-11',
                '2021-06-12',
                '2021-06-13',
                '2021-06-15',
                '2021-06-15',
                '2021-06-15',
                '2021-06-15',
                '2021-06-15',
                '2021-06-18',
                '2021-06-19',
                '2021-06-21',
                '2021-06-22',
                '2021-06-22',
                '2021-06-22',
                '2021-06-29',
                '2021-06-29',
                '2021-06-30',
                '2021-07-02',
                '2021-07-04',
                '2021-07-08',
                '2021-07-08',
                '2021-07-08',
                '2021-07-09',
                '2021-07-09',
                '2021-07-09',
                '2021-07-09',
                '2021-07-10',
                '2021-07-12',
                '2021-07-12',
                '2021-07-13',
                '2021-07-14',
                '2021-07-15',
                '2021-07-15',
                '2021-07-15',
                '2021-07-16',
                '2021-07-22',
                '2021-07-22',
                '2021-07-22',
                '2021-07-26',
                '2021-07-30',
                '2021-08-02',
                '2021-08-06',
                '2021-08-06',
                '2021-08-06',
                '2021-08-07',
                '2021-08-07',
                '2021-08-10',
                '2021-08-12',
                '2021-08-12',
                '2021-08-12',
                '2021-08-12',
                '2021-08-12',
                '2021-08-13',
                '2021-08-16',
                '2021-08-17',
                '2021-08-17',
                '2021-08-18',
                '2021-08-18',
                '2021-08-19',
                '2021-08-20',
                '2021-08-21',
                '2021-08-24',
                '2021-08-26',
                '2021-08-26',
                '2021-08-26',
                '2021-08-27',
                '2021-08-27',
                '2021-08-31',
                '2021-08-31',
                '2021-08-31',
                '2021-09-02',
                '2021-09-02',
                '2021-09-02',
                '2021-09-03',
                '2021-09-06',
                '2021-09-06',
                '2021-09-07',
                '2021-09-07',
                '2021-09-10',
                '2021-09-15',
                '2021-09-15',
                '2021-09-16',
                '2021-09-16',
                '2021-09-16',
                '2021-09-17',
                '2021-09-18',
                '2021-09-19',
                '2021-09-21',
                '2021-09-22',
                '2021-09-22',
                '2021-09-24',
                '2021-09-24',
                '2021-09-30',
                '2021-10-01',
                '2021-10-01',
                '2021-10-04',
                '2021-10-05',
                '2021-10-07',
                '2021-10-07',
                '2021-10-08',
                '2021-10-10',
                '2021-10-11',
                '2021-10-12',
                '2021-10-12',
                '2021-10-12',
                '2021-10-15',
                '2021-10-15',
                '2021-10-16',
                '2021-10-18',
                '2021-10-18',
                '2021-10-19',
                '2021-10-20',
                '2021-10-21',
                '2021-10-22',
                '2021-10-22',
                '2021-10-23',
                '2021-10-23',
                '2021-10-25',
                '2021-10-25',
                '2021-10-29',
                '2021-10-29',
                '2021-11-01',
                '2021-11-02',
                '2021-11-03',
                '2021-11-03',
                '2021-11-03',
                '2021-11-07',
                '2021-11-08',
                '2021-11-08',
                '2021-11-10',
                '2021-11-12',
                '2021-11-12',
                '2021-11-15',
                '2021-11-15',
                '2021-11-16',
                '2021-11-16',
                '2021-11-17',
                '2021-11-18',
                '2021-11-19',
                '2021-11-19',
                '2021-11-20',
                '2021-11-22',
                '2021-11-23',
                '2021-11-24',
                '2021-11-24',
                '2021-11-25',
                '2021-11-25',
                '2021-11-26',
                '2021-11-30',
                '2021-12-06',
                '2021-12-08',
                '2021-12-09',
                '2021-12-09',
                '2021-12-10',
                '2021-12-10',
                '2021-12-11',
                '2021-12-14',
                '2021-12-15',
                '2021-12-15',
                '2021-12-16',
                '2021-12-16',
                '2021-12-19',
                '2021-12-20',
                '2021-12-21',
                '2021-12-22',
                '2021-12-22',
                '2021-12-23',
                '2021-12-28',
                '2021-12-28',
                '2021-12-29',
                '2021-12-29',
                '2021-12-31',
                '2021-12-31',
                '2022-01-01',
                '2022-01-05',
                '2022-01-07',
                '2022-01-07',
                '2022-01-07',
                '2022-01-10',
                '2022-01-11',
                '2022-01-12',
                '2022-01-12',
                '2022-01-15',
                '2022-01-17',
                '2022-01-17',
                '2022-01-18',
                '2022-01-18',
                '2022-01-19',
                '2022-01-21',
                '2022-01-23',
                '2022-01-23',
                '2022-01-23',
                '2022-01-23',
                '2022-01-24',
                '2022-01-25',
                '2022-01-27',
                '2022-01-27',
                '2022-01-27',
                '2022-01-27',
                '2022-01-27',
                '2022-01-28',
                '2022-01-28',
                '2022-01-31',
                '2022-01-31',
                '2022-02-01',
                '2022-02-01',
                '2022-02-04',
                '2022-02-04',
                '2022-02-04',
                '2022-02-10',
                '2022-02-12',
                '2022-02-14',
                '2022-02-15',
                '2022-02-15',
                '2022-02-15',
                '2022-02-15',
                '2022-02-17',
                '2022-02-18',
                '2022-02-22',
                '2022-02-22',
                '2022-02-23',
                '2022-02-24',
                '2022-02-26',
                '2022-02-26',
                '2022-02-28',
                '2022-02-28',
                '2022-02-28',
                '2022-03-01',
                '2022-03-02',
                '2022-03-04',
                '2022-03-05',
                '2022-03-05',
                '2022-03-08',
                '2022-03-09',
                '2022-03-09',
                '2022-03-10',
                '2022-03-11',
                '2022-03-11',
                '2022-03-15',
                '2022-03-15',
                '2022-03-15',
                '2022-03-16',
                '2022-03-17',
                '2022-03-21',
                '2022-03-23',
                '2022-03-24',
                '2022-03-28',
                '2022-03-28',
                '2022-03-28',
                '2022-03-29',
                '2022-03-29',
                '2022-03-29',
                '2022-03-29',
                '2022-04-02',
                '2022-04-04',
                '2022-04-05',
                '2022-04-06',
                '2022-04-07',
                '2022-04-10',
                '2022-04-11',
                '2022-04-12',
                '2022-04-12',
                '2022-04-13',
                '2022-04-13',
                '2022-04-13',
                '2022-04-13',
                '2022-04-15',
                '2022-04-15',
                '2022-04-15',
                '2022-04-15',
                '2022-04-17',
                '2022-04-18',
                '2022-04-18',
                '2022-04-21',
                '2022-04-22',
                '2022-04-22',
                '2022-04-26',
                '2022-04-27',
                '2022-04-27',
                '2022-04-28',
                '2022-04-28',
                '2022-04-29',
                '2022-04-30',
                '2022-05-02',
                '2022-05-02',
                '2022-05-02',
                '2022-05-02',
                '2022-05-05',
                '2022-05-06',
                '2022-05-06',
                '2022-05-08',
                '2022-05-10',
                '2022-05-12',
                '2022-05-13',
                '2022-05-13',
                '2022-05-14',
                '2022-05-15',
                '2022-05-15',
                '2022-05-17',
                '2022-05-19',
                '2022-05-19',
                '2022-05-19',
                '2022-05-19',
                '2022-05-19',
                '2022-05-20',
                '2022-05-21',
                '2022-05-24',
                '2022-05-24',
                '2022-05-24',
                '2022-05-28',
                '2022-05-30',
                '2022-05-30',
                '2022-05-30',
                '2022-05-30',
                '2022-05-31',
                '2022-05-31',
                '2022-05-31',
                '2022-05-31',
                '2022-06-01',
                '2022-06-01',
                '2022-06-01',
                '2022-06-02',
                '2022-06-03',
                '2022-06-09',
                '2022-06-10',
                '2022-06-10',
                '2022-06-10',
                '2022-06-11',
                '2022-06-15',
                '2022-06-15',
                '2022-06-15',
                '2022-06-17',
                '2022-06-17',
                '2022-06-18',
                '2022-06-18',
                '2022-06-20',
                '2022-06-21',
                '2022-06-23',
                '2022-06-23',
                '2022-06-23',
                '2022-06-24',
                '2022-06-24',
                '2022-06-26',
                '2022-06-28',
                '2022-06-28',
                '2022-06-28',
                '2022-06-29',
                '2022-07-04',
                '2022-07-05',
                '2022-07-05',
                '2022-07-05',
                '2022-07-05',
                '2022-07-06',
                '2022-07-06',
                '2022-07-07',
                '2022-07-07',
                '2022-07-08',
                '2022-07-09',
                '2022-07-11',
                '2022-07-11',
                '2022-07-13',
                '2022-07-15',
                '2022-07-15',
                '2022-07-15',
                '2022-07-16',
                '2022-07-16',
                '2022-07-16',
                '2022-07-20',
                '2022-07-21',
                '2022-07-25',
                '2022-07-25',
                '2022-07-27',
                '2022-07-28',
                '2022-07-28',
                '2022-08-02',
                '2022-08-03',
                '2022-08-03',
                '2022-08-03',
                '2022-08-04',
                '2022-08-06',
                '2022-08-10',
                '2022-08-12',
                '2022-08-15',
                '2022-08-15',
                '2022-08-17',
                '2022-08-18',
                '2022-08-18',
                '2022-08-20',
                '2022-08-20',
                '2022-08-22',
                '2022-08-25',
                '2022-08-26',
                '2022-09-02',
                '2022-09-03',
                '2022-09-03',
                '2022-09-03',
                '2022-09-07',
                '2022-09-08',
                '2022-09-08',
                '2022-09-08',
                '2022-09-09',
                '2022-09-09',
                '2022-09-09',
                '2022-09-10',
                '2022-09-10',
                '2022-09-13',
                '2022-09-14',
                '2022-09-14',
                '2022-09-15',
                '2022-09-15',
                '2022-09-15',
                '2022-09-15',
                '2022-09-16',
                '2022-09-16',
                '2022-09-17',
                '2022-09-20',
                '2022-09-21',
                '2022-09-21',
                '2022-09-21',
                '2022-09-21',
                '2022-09-22',
                '2022-09-28',
                '2022-09-28',
                '2022-09-30',
                '2022-10-01',
                '2022-10-01',
                '2022-10-03',
                '2022-10-03',
                '2022-10-03',
                '2022-10-07',
                '2022-10-10',
                '2022-10-10',
                '2022-10-11',
                '2022-10-12',
                '2022-10-13',
                '2022-10-13',
                '2022-10-15',
                '2022-10-15',
                '2022-10-15',
                '2022-10-15',
                '2022-10-15',
                '2022-10-17',
                '2022-10-17',
                '2022-10-19',
                '2022-10-20',
                '2022-10-20',
                '2022-10-21',
                '2022-10-22',
                '2022-10-22',
                '2022-10-24',
                '2022-10-24',
                '2022-10-24',
                '2022-10-25',
                '2022-10-31',
                '2022-11-02',
                '2022-11-05',
                '2022-11-08',
                '2022-11-09',
                '2022-11-10',
                '2022-11-10',
                '2022-11-11',
                '2022-11-15',
                '2022-11-15',
                '2022-11-15',
                '2022-11-15',
                '2022-11-16',
                '2022-11-16',
                '2022-11-18',
                '2022-11-19',
                '2022-11-21',
                '2022-11-21',
                '2022-11-21',
                '2022-11-24',
                '2022-11-26',
                '2022-11-28',
                '2022-11-29',
                '2022-12-01',
                '2022-12-02',
                '2022-12-02',
                '2022-12-02',
                '2022-12-03',
                '2022-12-09',
                '2022-12-09',
                '2022-12-10',
                '2022-12-15',
                '2022-12-15',
                '2022-12-15',
                '2022-12-16',
                '2022-12-16',
                '2022-12-16',
                '2022-12-16',
                '2022-12-16',
                '2022-12-17',
                '2022-12-17',
                '2022-12-19',
                '2022-12-21',
                '2022-12-21',
                '2022-12-22',
                '2022-12-26',
                '2022-12-27',
                '2022-12-29',
                '2022-12-29',
                '2022-12-30',
                '2022-12-31',
                '2023-01-02',
                '2023-01-02',
                '2023-01-02',
                '2023-01-04',
                '2023-01-04',
                '2023-01-06',
                '2023-01-07',
                '2023-01-07',
                '2023-01-11',
                '2023-01-11',
                '2023-01-11',
                '2023-01-11',
                '2023-01-11',
                '2023-01-11',
                '2023-01-11',
                '2023-01-12',
                '2023-01-12',
                '2023-01-13',
                '2023-01-13',
                '2023-01-16',
                '2023-01-16',
                '2023-01-16',
                '2023-01-17',
                '2023-01-18',
                '2023-01-18',
                '2023-01-18',
                '2023-01-19',
                '2023-01-19',
                '2023-01-21',
                '2023-01-27',
                '2023-01-27',
                '2023-01-31'],
            datasets: [
                {
                    label: "Balance",
                    data: [-13539.0,
                    -14188.0,
                        12244.0,
                        16138.0,
                    -8862.0,
                    -8860.0,
                    -9860.0,
                    -7046.0,
                    -480.0,
                        4216.0,
                    -784.0,
                        3287.0,
                    -15209.0,
                    -7657.0,
                    -8678.0,
                    -9699.0,
                    -5182.0,
                        5438.0,
                        6830.0,
                        27122.0,
                        28892.0,
                        56386.0,
                        61932.0,
                        60932.0,
                        55546.0,
                        13658.0,
                    -20393.0,
                    -21543.0,
                        63457.0,
                        67309.0,
                        71144.0,
                        61144.0,
                        51144.0,
                        46144.0,
                        31144.0,
                        21144.0,
                        34554.0,
                        29554.0,
                        19554.0,
                        27047.0,
                        35430.0,
                        34430.0,
                        26430.0,
                        7934.0,
                        3934.0,
                        20748.0,
                        24228.0,
                        24229.0,
                    -10771.0,
                    -11792.0,
                    -12813.0,
                    -22565.0,
                        2321.0,
                        2303.3,
                        13249.3,
                        26465.3,
                        27743.3,
                        59603.3,
                        33261.5,
                        33001.9,
                        81380.9,
                        71751.9,
                        34320.899999999994,
                        37560.899999999994,
                        48888.899999999994,
                        53962.899999999994,
                        61042.899999999994,
                        62871.899999999994,
                        57530.899999999994,
                        55530.899999999994,
                        50530.899999999994,
                        8226.899999999994,
                        10586.899999999994,
                        2096.899999999994,
                        4161.899999999994,
                    -14334.100000000006,
                        7613.899999999994,
                    -19886.100000000006,
                    -19884.100000000006,
                    -18884.100000000006,
                    -15884.100000000006,
                    -25884.100000000006,
                    -27884.100000000006,
                    -37884.100000000006,
                    -38905.100000000006,
                    -39926.100000000006,
                    -66697.1,
                    -73197.1,
                    -75263.1,
                    -71663.1,
                    -63993.100000000006,
                    -59226.100000000006,
                    -56335.100000000006,
                    -43060.100000000006,
                    -39225.100000000006,
                    -34033.100000000006,
                    -29857.100000000006,
                        10616.899999999994,
                        4947.899999999994,
                        10198.899999999994,
                        31733.899999999994,
                    -18266.100000000006,
                        10171.899999999994,
                        5171.899999999994,
                    -4828.100000000006,
                    -5828.100000000006,
                        47.89999999999418,
                    -18448.100000000006,
                    -31266.100000000006,
                    -14067.100000000006,
                    -15088.100000000006,
                    -16109.100000000006,
                    -51477.90000000001,
                    -38438.90000000001,
                    -82470.90000000001,
                    -118322.90000000001,
                    -89072.90000000001,
                    -99072.90000000001,
                    -59896.90000000001,
                    -24679.90000000001,
                    -20619.90000000001,
                    -25619.90000000001,
                    -20619.90000000001,
                    -25619.90000000001,
                    -986.9000000000087,
                    -19482.90000000001,
                        19044.09999999999,
                        22171.09999999999,
                        31611.09999999999,
                        33027.09999999999,
                    -66972.90000000001,
                    -60482.90000000001,
                    -68482.90000000001,
                    -69503.90000000001,
                    -70524.90000000001,
                    -62972.90000000001,
                    -49638.90000000001,
                    -58138.90000000001,
                    -52439.90000000001,
                    -102439.90000000001,
                    -114299.90000000001,
                    -84299.90000000001,
                    -81349.90000000001,
                    -61349.90000000001,
                    -52912.90000000001,
                    -48900.90000000001,
                    -53900.90000000001,
                    -41156.90000000001,
                        11943.099999999991,
                        13713.099999999991,
                        16203.099999999991,
                    -11039.900000000009,
                    -16039.900000000009,
                    -20097.90000000001,
                    -30658.90000000001,
                    -31658.90000000001,
                    -19211.90000000001,
                    -37707.90000000001,
                    -38728.90000000001,
                    -39749.90000000001,
                    -35919.90000000001,
                    -85919.90000000001,
                    -105115.90000000001,
                    -91368.90000000001,
                    -84135.90000000001,
                    -90135.90000000001,
                    -83010.1,
                    -60000.100000000006,
                    -52330.100000000006,
                    -37167.100000000006,
                    -51586.100000000006,
                    -61786.100000000006,
                    -47626.100000000006,
                    -47643.8,
                    -52643.8,
                    -41964.8,
                    -45340.8,
                    -41977.8,
                    -33717.8,
                    -52213.8,
                    -28173.800000000003,
                    -78173.8,
                    -74633.8,
                    -84633.8,
                    -85654.8,
                    -86675.8,
                    -62924.8,
                    -59384.8,
                    -53655.8,
                    -5865.800000000003,
                    -27839.800000000003,
                    -94678.8,
                    -96332.8,
                    -117084.8,
                    -107084.8,
                    -99596.8,
                    -91631.8,
                    -67862.8,
                    -63449.8,
                    -53890.8,
                    -39164.8,
                    -50298.600000000006,
                    -17258.600000000006,
                    -8483.600000000006,
                    -58483.600000000006,
                    -42671.600000000006,
                    -47671.600000000006,
                    -57671.600000000006,
                    -76167.6,
                    -68202.6,
                    -56638.600000000006,
                    -57659.600000000006,
                    -58680.600000000006,
                    -55140.600000000006,
                    -10095.600000000006,
                    -44345.600000000006,
                    -94345.6,
                    -106857.6,
                    -113347.6,
                    -96675.6,
                    -89300.6,
                    -148820.6,
                    -114482.6,
                    -111178.6,
                    -93478.6,
                    -74165.6,
                    -69134.6,
                    -48602.600000000006,
                    -71583.6,
                    -76583.6,
                    -81583.6,
                    -91583.6,
                    -110079.6,
                    -100719.6,
                    -90099.6,
                    -140099.6,
                    -141120.6,
                    -142141.6,
                    -83256.6,
                    -77256.6,
                    -77279.02,
                    -90529.02,
                    -77195.02,
                    -72495.02,
                    -57255.020000000004,
                    -55367.020000000004,
                    -89251.02,
                    -104265.02,
                    -104459.02,
                    -99149.02,
                    -73425.02,
                    -45170.020000000004,
                    -23759.020000000004,
                    -25759.020000000004,
                    -10759.020000000004,
                    -13759.020000000004,
                    -10927.020000000004,
                    -29423.020000000004,
                    -26179.020000000004,
                    -31177.020000000004,
                    -30097.020000000004,
                    -80097.02,
                    -81118.02,
                    -82139.02,
                    -59604.020000000004,
                    -57362.020000000004,
                    -70139.02,
                    -53467.020000000004,
                    -63467.020000000004,
                    -63491.8,
                    -68491.8,
                    -68516.58,
                    -105780.58,
                    -72445.58,
                        10154.419999999998,
                        13694.419999999998,
                    -68905.58,
                    -83905.58,
                    -93905.58,
                    -94082.58,
                    -85307.58,
                    -74982.58,
                    -120194.98000000001,
                    -113114.98000000001,
                    -96004.98000000001,
                    -116004.98000000001,
                    -121004.98000000001,
                    -114018.98000000001,
                    -132514.98,
                    -129328.98000000001,
                    -117622.98000000001,
                    -110070.98000000001,
                    -160070.98,
                    -161091.98,
                    -162112.98,
                    -155858.98,
                    -137723.98,
                    -57683.98000000001,
                    -67725.98000000001,
                    -23770.98000000001,
                    -11970.98000000001,
                    -26970.98000000001,
                    -36970.98000000001,
                    -30244.98000000001,
                    -15244.98000000001,
                    -7031.9800000000105,
                    -57031.98000000001,
                    -65980.98000000001,
                    -70980.98000000001,
                    -35763.98000000001,
                    -40763.98000000001,
                    -29863.98000000001,
                    -24612.98000000001,
                    -24636.00000000001,
                    -43132.000000000015,
                    -48132.000000000015,
                    -48156.78000000001,
                    -83686.78000000001,
                    -84707.78000000001,
                    -85728.78000000001,
                    -95728.78000000001,
                    -99304.78000000001,
                    -76884.78000000001,
                    -73049.78000000001,
                    -88049.78000000001,
                    -80379.78000000001,
                    -54187.78000000001,
                    -55841.78000000001,
                    -57253.78000000001,
                    -64753.78000000001,
                    -74753.78000000001,
                    -68251.78000000001,
                    -62115.78000000001,
                    -55622.78000000001,
                    -60622.78000000001,
                    -45295.78000000001,
                    -25540.780000000013,
                    -44036.78000000001,
                    -22684.780000000013,
                    -13244.780000000013,
                    -28244.780000000013,
                    -30525.780000000013,
                    -31525.780000000013,
                    -20905.780000000013,
                    -98066.78000000001,
                    -99087.78000000001,
                    -100108.78000000001,
                    -101533.78000000001,
                    -101633.78000000001,
                    -104133.78000000001,
                    -92333.78000000001,
                    -89383.78000000001,
                    -95627.78000000001,
                    -79364.78000000001,
                    -79911.52000000002,
                    -79907.42000000001,
                    -60001.42000000001,
                    -52331.42000000001,
                    -44071.42000000001,
                    -34513.42000000001,
                    -35267.42000000001,
                    -40267.42000000001,
                    -42267.42000000001,
                    -49339.42000000001,
                    -60661.42000000001,
                    -53935.42000000001,
                    -65820.42000000001,
                    -61690.42000000001,
                    -52857.42000000001,
                    -56357.42000000001,
                    -74853.42000000001,
                    -67893.42000000001,
                    -71971.42000000001,
                    -81971.42000000001,
                    -78183.42000000001,
                    -79204.42000000001,
                    -80225.42000000001,
                    -71225.42000000001,
                    -71874.42000000001,
                    -86311.42000000001,
                    -111311.42000000001,
                    -111335.62000000001,
                    -86297.62000000001,
                    -66119.62000000001,
                    -43699.62000000001,
                    -37699.62000000001,
                    -24601.62000000001,
                    -45340.62000000001,
                    -37486.62000000001,
                    -37746.22000000001,
                    -63635.020000000004,
                    -59575.020000000004,
                    -38760.020000000004,
                    -48760.020000000004,
                    -90754.02,
                    -108585.82,
                    -138347.62,
                    -140847.62,
                    -139077.62,
                    -144077.62,
                    -137587.62,
                    -128619.62,
                    -115108.62,
                    -90108.62,
                    -85978.62,
                    -104474.62,
                    -60599.619999999995,
                    -51631.619999999995,
                    -52652.619999999995,
                    -53673.619999999995,
                    -68654.62,
                    -45054.619999999995,
                    -46054.619999999995,
                    -64054.619999999995,
                    -60514.619999999995,
                    -63514.619999999995,
                    -41094.619999999995,
                    -91911.62,
                    -81003.62,
                    -82503.62,
                    -95003.62,
                    -105595.62,
                    -90939.62,
                    -84531.62,
                    -87637.62,
                    -92637.62,
                    -117071.62,
                    -91926.62,
                    -89684.62,
                    -81553.62,
                    -90250.36,
                    -85530.36,
                    -51575.36,
                    -46265.36,
                    -17827.36,
                    -245.36000000000058,
                        3530.6399999999994,
                    -46469.36,
                    -64965.36,
                    -61897.36,
                    -62918.36,
                    -63939.36,
                    -54989.36,
                    -67489.36,
                    -60822.36,
                    -58462.36,
                    -74849.36,
                    -125824.36,
                    -125852.1,
                    -96352.1,
                    -92222.1,
                    -74522.1,
                    -37492.100000000006,
                    -9762.100000000006,
                    -14850.100000000006,
                    -27350.100000000006,
                    -32350.100000000006,
                    -29400.100000000006,
                    -18203.100000000006,
                    -36699.100000000006,
                    -34418.100000000006,
                    -35439.100000000006,
                    -36460.100000000006,
                    -33510.100000000006,
                    -83510.1,
                    -71810.1,
                    -66323.1,
                    -62193.100000000006,
                    -17078.100000000006,
                    -6088.100000000006,
                    -44940.100000000006,
                    -22520.100000000006,
                    -35020.100000000006,
                    -50020.100000000006,
                    -40108.100000000006,
                    -45108.100000000006,
                    -41804.100000000006,
                    -30358.100000000006,
                        23051.899999999994,
                        37211.899999999994,
                        41163.899999999994,
                        57016.899999999994,
                        39357.899999999994,
                        19920.899999999994,
                        22233.899999999994,
                    -15445.100000000006,
                    -25107.100000000006,
                    -26128.100000000006,
                    -27149.100000000006,
                    -61897.100000000006,
                    -33232.100000000006,
                    -82438.26000000001,
                    -85425.06000000001,
                    -106549.30000000002,
                    -134549.30000000002,
                    -112129.30000000002,
                    -106996.30000000002,
                    -105226.30000000002,
                    -90601.30000000002,
                    -83993.30000000002,
                    -85647.30000000002,
                    -79452.30000000002,
                    -54473.30000000002,
                    -69473.30000000002,
                    -13423.300000000017,
                    -8703.300000000017,
                    -279.30000000001746,
                    -5279.3000000000175,
                        46286.69999999998,
                        48410.69999999998,
                        28973.699999999983,
                        53973.69999999998,
                        33371.69999999998,
                    -8219.300000000017,
                        17753.699999999983,
                        5253.6999999999825,
                        4232.6999999999825,
                        3211.6999999999825,
                    -1788.3000000000175,
                    -1813.0800000000174,
                    -9813.080000000018,
                    -16813.080000000016,
                    -13537.080000000016,
                    -20961.080000000016,
                    -12128.080000000016,
                    -19564.470000000016,
                    -7823.470000000016,
                    -17629.970000000016,
                    -19129.970000000016,
                    -20129.970000000016,
                    -21129.970000000016,
                    -16409.970000000016,
                    -13577.970000000016,
                    -9447.970000000016,
                    -9470.390000000016,
                        4748.609999999984,
                        15722.609999999984,
                    -3714.390000000016,
                    -764.3900000000158,
                        11005.609999999984,
                        20091.609999999986,
                        26463.609999999986,
                        25442.609999999986,
                        24421.609999999986,
                        9117.609999999986,
                    -38451.390000000014,
                    -15618.390000000014,
                    -32618.390000000014,
                        12221.609999999986,
                        18593.609999999986,
                        7459.609999999986,
                        11884.609999999986,
                        6884.609999999986,
                    -18115.390000000014,
                    -33115.390000000014,
                    -23970.390000000014,
                    -21650.390000000014,
                    -15750.390000000014,
                    -13390.390000000014,
                    -3714.390000000014,
                    -53714.390000000014,
                    -50116.390000000014,
                    -71362.39000000001,
                    -72383.39000000001,
                    -73404.39000000001,
                    -75404.39000000001,
                    -77404.39000000001,
                    -98006.39000000001,
                    -73006.39000000001,
                    -63566.390000000014,
                    -56840.390000000014,
                    -38716.390000000014,
                    -16296.390000000014,
                    -26296.390000000014,
                    -41296.390000000014,
                    -26296.390000000014,
                    -15298.390000000014,
                    -30298.390000000014,
                    -52888.390000000014,
                    -48168.390000000014,
                    -49928.390000000014,
                    -62428.390000000014,
                    -51206.390000000014,
                    -48374.390000000014,
                    -46663.390000000014,
                    -49163.390000000014,
                    -46940.390000000014,
                    -60652.390000000014,
                    -61319.19000000002,
                    -111319.19000000002,
                    -109254.19000000002,
                    -85524.19000000002,
                    -88604.19000000002,
                    -107592.19000000002,
                    -105409.19000000002,
                    -95969.19000000002,
                    -96769.19000000002,
                    -100769.19000000002,
                    -101028.79000000002,
                    -85292.79000000002,
                    -86292.79000000002,
                    -91292.79000000002,
                    -92817.79000000002,
                    -72397.79000000002,
                    -60597.79000000002,
                    -36289.79000000002,
                    -37310.79000000002,
                    -38331.79000000002,
                    -34791.79000000002,
                    -63951.79000000002,
                    -55455.79000000002,
                    -48965.79000000002,
                    -26545.790000000023,
                    -27245.790000000023,
                    -21345.790000000023],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
<script src="{{url_for('static',filename='Script.js')}}"></script>


</html>